package views

import "templ-test/views/layouts"

templ ShowAllUsers() {
	@layouts.Base() {
		<div>
			Show all users.
		</div>
		<div>Route is /users</div>
	}
}

templ ShowUser(id string) {
	@layouts.Base() {
		<div>Show user { id }</div>
		<div>Route is /users/{ id }</div>
	}
}
